* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
body {
    height: 100vh;
    background-image: url('imagens/inicial.jpeg');
    background-size: cover;
    background-position: center;
  }

nav.menu-lateral{
    width: 65px;
    height: 100%;
    background-color:rgb(215, 191, 7);
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 rgb(158, 149, 141);
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2s;
  }

nav.menu-lateral:hover{
    width: 300px;
}

.btnexpandir{
    width: 100%;
    padding-left: 10px;
  }
  
.btnexpandir > i{
    color:white;
    font-size: 24px;
    cursor: pointer;
  }

ul{
    height:100%;
    list-style-type:none;
}

ul li.item-menu{
    transition: .2s;
}

ul li.item-menu:hover{
    background-color: rgb(158, 149, 141);
}

ul li.item-menu a{
    color:white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    line-height: 40px;
}

ul li.item-menu a .txt-link{
    margin-left: 20px;
}

ul li.item-menu a .icon > i{
    font-size: 30px;
    margin-left: 7px;
}